.control {
  display: flex;
  flex-direction: column;
  align-items: center;

  .controlTitle {
    margin-top: 30px;
    font-size: 30px;
  }

  .controlContent {
    margin-top: 10px;
    border: 1px #ebebeb solid;
    padding: 20px;

    .controlLinkInput {
      width: 300px;
      height: 30px;
      margin-top: 15px;
      border-radius: 10px;
    }

    .cntrolUploadInput {
      text-align: center;
      background-color: yellow;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px;
      margin-top: 15px;
    }
  }
}