.founder {
  margin-top: 70px;

  .founderTitleBlock {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;

    .founderTitle {
      font-weight: 600;
      font-size: 34px;
      color: #000;
      line-height: 1.15em;
      font-family: 'Roboto', sans-serif;

      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }

  .founderContent {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 40px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .founderInfoBlock {
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      background-color: #ebebeb;
      padding: 20px;
      width: 50%;
      border-radius: 20px;

      @media (max-width: 767px) {
        width: 80%;
        order: 1;
        border-radius: 0px 0px 20px 20px;
        margin-top: 20px;
      }

      .founderInfoText {
        margin-top: 20px;
      }
      .founderInfoText:first-child {
        margin: 0px;
      }
    }
    .founderImageBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ebebeb;
      padding: 20px;
      border-radius: 20px;

      @media (max-width: 767px) {
        border-radius: 20px 20px 0px 0px;
      }
      
      .founderImage {
        width: 300px;
        height: 450px;
        border-radius: 20px;
      }
      .founderImageText {
        margin-top: 10px;
      }
    }
  }
}