.control {
  display: flex;
  flex-direction: column;

  .controlTitle {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }

  .controlContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    border: 1px #ebebeb solid;

    .leftBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .leftBlockTitle {
        margin-top: 30px;
        font-size: 25px;
      }

      .leftBlockInput {
        width: 300px;
        height: 30px;
        border-radius: 10px;
        margin-top: 15px;
      }

      .leftBlockContinue {
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        margin-top: 15px;
        cursor: pointer;
        color: #fff;
      }
    }

    .rightBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .rightBlockTitle {
        margin-top: 30px;
        font-size: 25px;
      }

      .rightBlockInput {
        width: 300px;
        height: 30px;
        border-radius: 10px;
        margin-top: 15px;
      }

      .rightBlockContinue {
        background-color: green;
        padding: 10px;
        border-radius: 10px;
        margin-top: 15px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}