.goals {
  margin-top: 40px;

  .goalsContent {
    display: flex;
    flex-direction: column;
    background-color: #FA5252;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;

    .goalsTitleBlock {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .goalsTitle {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;

        @media (max-width: 767px) {
          text-align: center;
        }
      }
    }

    .goalsItem {
      display: flex;

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        margin: 0 !important;
      }

      .goalsImageBlock {
        display: block;

        .goalsImage {
          width: 300px;
          height: 200px;
          border-radius: 10px;
        }
      }

      .goalsTextBlock {
        display: flex;
        align-items: center;
        margin: 40px;

        @media (max-width: 767px) {
          order: 1;
        }

        .goalsText {
          font-family: 'Roboto', sans-serif;
          color: #fff;
          font-size: 26px;

          @media (max-width: 767px) {
            text-align: center !important;
          }
        }
      }
      .goalsArrowBlock {
        position: relative;

        @media (max-width: 767px) {
          display: none;
        }

        .goalsArrow {
          position: absolute;
          top: 60px;
        }
      }
    }
  }
}