code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}
